*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    padding:20px;
}

header{
    text-align:center;
    margin-bottom:30px;
}

header p{
    margin-top:10px;
    color:#cbd5e1;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

.card p{
    margin-top:10px;
    font-size:32px;
    font-weight:bold;
}

.graficos{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:20px;
}

.grafico,
.grafico-full,
.tabela-container{
    background:#1e293b;
    padding:20px;
    border-radius:12px;
}

.grafico-full{
    margin-bottom:20px;
}

canvas{
    margin-top:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#334155;
    padding:12px;
}

td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #475569;
}

tr:hover{
    background:#334155;
}

.critico{
    background:#7f1d1d;
}

.atencao{
    background:#78350f;
}

.normal{
    background:#14532d;
}

@media(max-width:900px){

    .graficos{
        grid-template-columns:1fr;
    }

}
